
<% Object.keys(messages).forEach(function (type) {     
	%>
	<div class="alert alert-<%= ((type==='error')?'danger':type) %>" role="alert">
			<% messages[type].forEach(function (message) { %>
			
		<span class="close-btn">&times;</span><%= message%>
		<% }) %>
	</div>  
<% }) %>
