<div class="col-lg-4">
    <div class="sidebars-area">
        <div class="single-sidebar-widget most-popular-widget">
            <h6 class="title">Most Popular</h6>
            <div class="single-list flex-row d-flex">
                <div class="thumb">
                    <img src="frontend/img/m1.jpg" alt="">
                </div>
                <div class="details">
                    <a href="image-post.html">
                        <h6>Help Finding Information Online is so easy</h6>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-bubble"></span>06</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-list flex-row d-flex">
                <div class="thumb">
                    <img src="frontend/img/m2.jpg" alt="">
                </div>
                <div class="details">
                    <a href="image-post.html">
                        <h6>Compatible Inkjet Cartr world famous</h6>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-bubble"></span>06</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-list flex-row d-flex">
                <div class="thumb">
                    <img src="frontend/img/m3.jpg" alt="">
                </div>
                <div class="details">
                    <a href="image-post.html">
                        <h6>5 Tips For Offshore Soft Development </h6>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-bubble"></span>06</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-list flex-row d-flex">
                <div class="thumb">
                    <img src="frontend/img/m4.jpg" alt="">
                </div>
                <div class="details">
                    <a href="image-post.html">
                        <h6>5 Tips For Offshore Soft Development </h6>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-bubble"></span>06</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="single-sidebar-widget social-network-widget">
            <h6 class="title">Social Networks</h6>
            <ul class="social-list">
                <li class="d-flex justify-content-between align-items-center fb">
                    <iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fzendvngroup%2F&amp;tabs=timeline&amp;width=300&amp;height=250&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=372332396559333"
                    width="300" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </li>
            </ul>
        </div>
    </div>
</div>