<section class="top-post-area pt-10">
    <div class="container no-padding">
        <div class="row small-gutters">
            <div class="col-lg-8 top-post-left">
                <div class="feature-image-thumb relative">
                    <div class="overlay"></div>
                    <img class="img-fluid" src="frontend/img/top-post1.jpg" alt="">
                </div>
                <div class="top-post-details">
                    <ul class="tags">
                        <li>
                            <a href="#">Food Habit</a>
                        </li>
                    </ul>
                    <a href="image-post.html">
                        <h3>A Discount Toner Cartridge Is Better Than Ever.</h3>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#">
                                <span class="lnr lnr-user"></span>Mark wiens</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-bubble"></span>06 Comments</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 top-post-right">
                <div class="single-top-post">
                    <div class="feature-image-thumb relative">
                        <div class="overlay"></div>
                        <img class="img-fluid" src="frontend/img/top-post2.jpg" alt="">
                    </div>
                    <div class="top-post-details">
                        <ul class="tags">
                            <li>
                                <a href="#">Food Habit</a>
                            </li>
                        </ul>
                        <a href="image-post.html">
                            <h4>A Discount Toner Cartridge Is Better Than Ever.</h4>
                        </a>
                        <ul class="meta">
                            <li>
                                <a href="#">
                                    <span class="lnr lnr-user"></span>Mark wiens</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="lnr lnr-bubble"></span>06 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single-top-post mt-10">
                    <div class="feature-image-thumb relative">
                        <div class="overlay"></div>
                        <img class="img-fluid" src="frontend/img/top-post3.jpg" alt="">
                    </div>
                    <div class="top-post-details">
                        <ul class="tags">
                            <li>
                                <a href="#">Food Habit</a>
                            </li>
                        </ul>
                        <a href="image-post.html">
                            <h4>A Discount Toner Cartridge Is Better</h4>
                        </a>
                        <ul class="meta">
                            <li>
                                <a href="#">
                                    <span class="lnr lnr-user"></span>Mark wiens</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="lnr lnr-bubble"></span>06 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>