<% if (errors) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Lỗi!</h5>
        <ul  class="list-unstyled mb-0">
            <% errors.forEach((error)=> { 
                var arrWord = error.param.split("_"); 
                var strWord = '';
                arrWord.forEach((word) => {
                    strWord += word.charAt(0).toUpperCase() + word.slice(1) + " ";
                }); 
            %>
                <li><b><%= strWord %></b>: <%= error.msg %></li>
            <% }) %>
        </ul>

    </div>
<% } %>



    
    
    

