<footer class="main-footer text-sm">
    <strong>Developer by <a href="https://www.youtube.com/">Developer NodeJs Easy </a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Hotline 1:</b> +84 0123456789
        ||
        <b>Hotline 2:</b> +84 0987654321
    </div>
</footer>
<div id = "divPopup">

<div id="DivNotifyMaster" class="DivNotifyMaster">
    <div id="Div2" class="notifyTitle">Notify<br /></div>
    <div class="notifyButtonClose">
            <img onclick="RemoveClassAndHidden('DivNotifyMaster','');" src="img/Close-icon.png" width="22px" alt="Close" />
    </div>
    <div>
        <table style="max-width:100%;">
            <tr> <td ><br /> </td> </tr>
            <tr>
                <td>
                    <div id="divContentNotifyMaster" class="notifyMessage">
                        <!-- Nội dung thông báo <br />
                        Nội dung thông báo  <br />
                        Nội dung thông báo  <br />
                        Nội dung thông báo  <br />
                        Nội dung thông báo  <br />
                        Nội dung thông báo  <br />
                        Nội dung thông báo  <br /> -->

                    </div>
                </td>
            </tr>
            <tr><td > <br /><br /><br /></td> </tr>
        </table>
    </div>
</div>