<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Nodejs + MySql</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Font Awesome -->
<link rel="stylesheet" href="admin/css/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="admin/css/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="admin/css/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="admin/css/adminlte.min.css">
<link rel="stylesheet" href="admin/css/custom.css">
<link rel="stylesheet" href="admin/js/showNotify/showNotify.css">



<link rel="stylesheet" href="admin/css/sweetalert2/sweetalert2.min.css">
<script src="admin/js/ckeditor/ckeditor.js"></script>