<% const linkPrefix=systemConfig.prefixAdmin + `/auth/`; %>
    <script src="admin/js/sha1.js"></script>

    <div class="container-fluid">
        <input name="linkPrefix" id="linkPrefix" type="hidden" value="<%= linkPrefix %>">


        <div class="card card-info card-outline">
            <div class="card-body">
                <div class="form-group row">

                    <label class="col-sm-4 col-form-label text-sm-right"> </label>
                    <div class="col-xs-8 col-sm-8">
                        <label id="labPasswordSettingRules" class="col-form-label"> The password must satisfy the
                            following 5 conditions:
                            <br /> 1/ Have a length of 8 characters or more.
                            <br /> 2/ Contains at least 1 CAPITAL letter.
                            <br /> 2/ Contains at least 1 lowercase letter.
                            <br /> 4/ Contains digits.
                            <br /> 5/ Contains at least 1 SPECIAL character.
                        </label>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-1 col-sm-1">
                    </div>
                    <label id="labOldPassword" class="col-sm-3 col-form-label text-sm-right required">Old
                        Password</label>
                    <div class="col-xs-3 col-sm-2">
                        <input type="password" class="form-control" value="" name="oldPassword" Id="oldPassword">
                    </div>
                    <div class="col-xs-3 col-sm-2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-1 col-sm-1">
                    </div>
                    <label id="labNewPassword" class="col-sm-3 col-form-label text-sm-right required">New
                        Password</label>
                    <div class="col-xs-3 col-sm-2">
                        <input type="password" class="form-control" value="" name="newPassword" Id="newPassword">
                    </div>
                    <div class="col-xs-3 col-sm-2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-1 col-sm-1">
                    </div>
                    <label id="labConfirmNewPassword" class="col-sm-3 col-form-label text-sm-right required">Confirm New
                        Password</label>
                    <div class="col-xs-3 col-sm-2">
                        <input type="password" class="form-control" value="" name="confirmNewPassword"
                            Id="confirmNewPassword">
                    </div>
                    <div class="col-xs-3 col-sm-2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-1 col-sm-1">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <input type="button" id="btnChangePassword" class="btn btn-sm btn-success"
                            value="Change Password">
                    </div>
                    <div class="col-xs-3 col-sm-2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3 col-sm-2">
                    </div>
                    <div class="col-xs-3 col-sm-2">
                    </div>
                    <div class="col-xs-8 col-sm-8 text-success" id="divMessage"></div>
                </div>
            </div>
        </div>
        <input name="sysLanguage" id="sysLanguage" type="hidden" value="<%= language %>">
    </div>
    <!-- script -->
    <script>
        var language={};
        getLanguage();
        setInterfaceText()
        function getLanguage() {
            var languageString=$('#sysLanguage').val();
            language=JSON.parse(languageString);
        }

        function setInterfaceText() {
            $("#pageTitle").html(language.TitlePage);
            $("#labPasswordSettingRules").html(language.PasswordSettingRules);
            $("#labOldPassword").text(language.OldPassword);
            $("#labNewPassword").text(language.NewPassword);
            $("#labConfirmNewPassword").text(language.ConfirmNewPassword);
            // $("#btnChangePassword").text(language.ChangePassword);
        }
        $('#btnChangePassword').click(function() {
            $(this).prop('disabled',true); //disable clicked button
            changePassword();
        });
        function changePassword() {
            var oldPassword=$('#oldPassword').val();
            var newPassword=$('#newPassword').val();
            var confirmNewPassword=$('#confirmNewPassword').val();

            oldPassword=replaceAll(oldPassword,' ','');
            newPassword=replaceAll(newPassword,' ','');
            confirmNewPassword=replaceAll(confirmNewPassword,' ','');

            if(confirmNewPassword.length<8) {
                var msg=language.Message_Password_Length;
                $("#divMessage").html(msg);
                // alert(msg);
                showNoticeDanger(msg);
                // notice["title"]=msg;
                // notice["class"]="danger";
                // showNotice(notice);
                $('#btnChangePassword').prop('disabled',false);
                return false;
            }

            if(newPassword!=confirmNewPassword) {
                var msg=language.Message_Confirm_Not_Match_Password;
                $("#divMessage").html(msg);
                // alert(msg);
                showNoticeDanger(msg);
                // notice["title"]=msg;
                // notice["class"]="danger";
                // showNotice(notice);
                $('#btnChangePassword').prop('disabled',false);
                return false;
            }
            //123!@Qazxc
            //  var decimal=  /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,15}$/;
            // var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            var decimal=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            if(!confirmNewPassword.match(decimal)) {
                var msg=language.Message_Password_Not_Match_Rules;
                $("#divMessage").html(msg);
                // alert(msg);
                showNoticeDanger(msg);
                // notice["title"]=msg;
                // notice["class"]="danger";
                // showNotice(notice);               
                $('#btnChangePassword').prop('disabled',false);
                return false;
            }
            oldPassword=hex_sha1(oldPassword);
            newPassword=hex_sha1(newPassword);
            confirmNewPassword=hex_sha1(confirmNewPassword);
            let data={
                oldPassword: oldPassword,
                newPassword: newPassword,
                confirmNewPassword: confirmNewPassword,
            }

            var link=$('#linkPrefix').val()+'changePassword';
            $.ajax({
                type: 'PUT',
                url: link,
                data: data,
                dataType: "json",
                success: function(resultdata) {
                    let result=resultdata.result;
                    // console.log(result);         
                    // console.log(resultdata);         
                    let notice={};
                    if((result=='false')||(result==false)) {
                        var msg=language.Message_Change_Password_Error;
                        //let msg="There was an error, please try again";
                        $("#divMessage").html(msg);
                        // alert(msg);
                        showNoticeDanger(msg);
                        // notice["title"]=msg;
                        // notice["class"]="danger";
                        // showNotice(notice);
                        $('#btnChangePassword').prop('disabled',false);
                        return false;
                    }
                    else if((result=='true')||(result==true)) {
                        var msg=language.Message_Change_Password_Successfully;
                        //let msg="Changed password successfully";
                        $("#divMessage").html(msg);
                        //alert(msg);
                        showNoticeDanger(msg);
                        // notice["title"]=msg;
                        // notice["class"]="danger";
                        // showNotice(notice);
                        return false;
                    }
                },
                failure: function(response) {
                    var msg=language.Message_Change_Password_Error;
                    // alert(msg);
                    showNoticeDanger(msg);
                    $('#btnChangePassword').prop('disabled',false);
                },
                error: function(response) {
                    var msg=language.Message_Change_Password_Error;
                    showNoticeDanger(msg);
                    // alert(msg);
                    $('#btnChangePassword').prop('disabled',false);
                }
            });
            return true;

        }

        function replaceAll(str,find,replace) {
            return str.replace(new RegExp(find,'g'),replace);
        }
    </script>