<!DOCTYPE html>
<html>
<%- include ('./../../../admin/elements/header') %>

    <head>
    </head>

    <body class="login-page">

        <script>
                    setTimeout('Redirect()',1000);
                    function Redirect() {
                        window.location="/";
                    }
                </script>


        <div class="login-box">
            <div class="login-logo">
                Logged in successfully
                <!--  <a href=""><b>Admin</b></a> -->
                </div>
                <!-- /.login-logo -->
                <div class="card">
                    <div class="card-body login-card-body">
                    <p class="login-box-msg">Redirecting to member page</p>
                    </div>

            </div>
            <!-- /.login-card-body -->
            </div>
            <!-- script -->
            
            </body>


</html>