<div class="col-lg-8 post-list">
	
	<!-- Start single-post Area -->
	<div class="single-post-wrap">
	
		<div class="feature-img-thumb relative">
			<div class="overlay "></div>
			<img class="img-fluid" src="frontend/img/contact-page.jpg" alt="">
		</div>
		<div class="content-wrap">
			<h3>Contact Page</h3>
		</div>	
	</div>
</div>