<% 
    actionHelper = (linkPrefix) => { 
        let actions = [
        { value: "", name: "Bulk Action" },
        { value: "change-status/active", name: "Active" },
        { value: "change-status/inactive", name: "InActive" },
        { value: "change-ordering/", name: "Change Ordering" },
        { value: "delete/", name: "Delete", confirm: "Bạn có chắc muốn xóa các dòng dữ liệu không?" },
    ];
    let xhtmlAction = '';
    let linkAddNew  = linkPrefix + 'form' ;

    actions.forEach((action)=> {
        let link = linkPrefix + action.value;
        xhtmlAction += `<option value="${link}">${action.name}</option>`;
    });

        return `
                <div class="mb-1">
                    <select id="slbAction" name="bulk-action" class="custom-select custom-select-sm mr-1" style="width: unset">
                         ${xhtmlAction}
                    </select> 
                    <button id="btn-action" class="btn btn-sm btn-info btnAction" value="btnAction" disabled>Apply <span class="badge badge-pill badge-danger navbar-badge" style="display: none"></span></button>
                </div>
                <div class="mb-1">
                    <a href="${linkAddNew}" class="btn btn-sm btn-info"><i class="fas fa-plus"></i> Add New</a>
                </div>
            `;
    } 
%>






