<% 


        filterStatusHelper = (linkPrefix, statusFilter, currentStatus,  keyword) => {   
        let xhtmlResult = '';
      
        statusFilter.forEach((item)=> {
            let link = linkPrefix + 'status/' + item.value;
            if(keyword !== "" && keyword !== undefined) link += '?keyword=' + keyword;

        if(item.value===currentStatus)           
            xhtmlResult += ` <a href="${link}" class="mr-1 btn btn-sm btn-info">`;
        else
          xhtmlResult += ` <a href="${link}" class="mr-1 btn btn-sm btn-secondary">`;
          xhtmlResult  += `
            ${item.name.toUpperCase()}
            <span class="badge badge-pill badge-light">
                ${item.count}
            </span>
            </a>`;
        })
        return xhtmlResult;
    } 
%>