<%
    paginationHelper = (paginationObj, type, currentStatus, keyword) => {
        let totalItems          = paginationObj.totalItems;
        let totalItemsPerPage   = paginationObj.totalItemsPerPage;
        let totalPages          = Math.ceil(totalItems/totalItemsPerPage);
        let currentPage         = paginationObj.currentPage;
        let pageRanges          = paginationObj.pageRanges;
        let xhtmlPagination     = '';
        let to                  = totalItemsPerPage * currentPage;
        let from                = to - totalItemsPerPage + 1;
        if(to > totalItems) to  = totalItems;

        if(totalPages > 1) {
            let xhtmlStart = '', xhtmlPrevious = '', xhtmlPages = '', xhtmlNext = '' , xhtmlEnd = '';
            let link       = systemConfig.prefixAdmin + '/' + type +'/status/' + currentStatus ;
            if(keyword !== '') link += '?keyword=' + keyword + '&page=';
            else link += '?page=';

            let middle = Math.ceil(pageRanges/2);
            let min = currentPage - middle + 1;

            let max = min + pageRanges - 1;
                if(min <= 1){
                min = 1;
                max = pageRanges;
            }

            if(max >= totalPages){  // 3
                max = totalPages;
                min = ((max - pageRanges + 1) >= 1) ? (max - pageRanges + 1) : 1; 
            }

            if(min > 1){                
                xhtmlStart = `<li class="page-item "><a href="${link}1" class="page-link"><i class="fas fa-angle-double-left"></i> Start</a></li>`;
                if(min>2)
                {
                    xhtmlPrevious = `<li class="page-item "><a href="${link}${min-1}" class="page-link"><i class="fas fa-angle-left"></i> Previous</a></li>`;
                }
            }

            if(max < totalPages){            
                xhtmlNext = `<li class="page-item"><a class="page-link" href="${link}${(max+1)}"><i class="fas fa-angle-right"></i> Next </a></li>`; 
                if((max+1) < totalPages)
                {
                    xhtmlEnd = `<li class="page-item"><a class="page-link" href="${link}${totalPages}"><i class="fas fa-angle-double-right"> End </i></a></li>`;
                }
            }            
           

            for(let i = min; i <= max; i++){
                if(i == currentPage) {
                    xhtmlPages += `<li class="page-item active"><a class="page-link">${i}</a></li>`;                   
                } else {
                    xhtmlPages += `<li class="page-item"><a class="page-link" href="${link}${i}">${i}</a></li>`;                     
                }
            }

           var xhtmlPagination_PageLisst = '<ul class="pagination pagination-sm m-0 float-right">' + xhtmlStart + xhtmlPrevious + xhtmlPages + xhtmlNext + xhtmlEnd + '</ul>';
           xhtmlPagination = `
            <div class="panel panel-info" id="pagination">
                <div class="panel-heading">
                    Pagination
                    <span class="label label-warning">Total pages: ${totalPages}</span>
                    <span class="label label-danger">Total entries: ${totalItems}</span>
                     ${xhtmlPagination_PageLisst}
                </div>
                <div class="panel-body">
                    <div class="infor-pagination">
                        <p>Number of entries on the page:<span>${totalItemsPerPage}</span></p>
                        <p>Showing<span> ${from} </span> to<span> ${to}</span> of<span> ${totalItems}</span> entries</p>
                    </div>
                    <div class="ad-pagination">                      
                    </div>
                </div>
            </div>`;
            
        }

        return xhtmlPagination;
    }
%>