<% 
    sourceByHelper = (user_name, time) => { 
        let xhtmlResult = `<span class="glyphicon glyphicon-user" aria-hidden="true"></span> ${user_name} <br />
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> ${moment(time).format(systemConfig.format_long_time)}`;
        return xhtmlResult;
    } 

    formatDatetime = (time) => { 
        let xhtmlResult = `<span class="glyphicon glyphicon-time" aria-hidden="true"></span> ${moment(time).format(systemConfig.format_long_time)}`;
        return xhtmlResult;
    }

    formatDate = (time) => { 
        let xhtmlResult = `<span class="glyphicon glyphicon-time" aria-hidden="true"></span> ${moment(time).format(systemConfig.format_time_frontend)}`;
        return xhtmlResult;
    }  
%>






