<% 

    showMenuUser = (userInfo) => { 
        const linkLogin = systemConfig.prefixBlog + `/auth/login`;
        const linkLogout= systemConfig.prefixBlog + `/auth/logout`;
	    const linkAdmin = systemConfig.prefixAdmin + `/dashboards`;

       
        let xhtmlMenuUser = '';        
        if(userInfo != undefined) {
            xhtmlMenuUser = `<li><a href="${linkLogout}">Logout</a></li>`;
            if(userInfo.group.group_acp == "yes"){
                xhtmlMenuUser += `<li><a href="${linkAdmin}">Admin Control Panel</a></li>`;
            }
        }else {
            xhtmlMenuUser = `<li>
                        <a href="${linkLogin}">Login</a>
                    </li>`;
        }
        return xhtmlMenuUser;
    } 
%>
